gunicorn==20.1.0
pip==23.1.2
pickle4==0.0.1
fastai==2.7.12
fastcore==1.5.29
Flask==2.2.3
jupyter==1.0.0
matplotlib==3.5.2
notebook==6.5.4
numpy==1.23.0
torch==2.0.0
torchvision==0.15.1
Python==3.10.4
